.login-container {
  min-height: 100vh;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: #272727;
  padding: 40px;
  border-radius: 8px;
  width: 320px;
  display: flex;
  flex-direction: column;
  color: white;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: none;
}

button {
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: #ff0b37;
  margin-top: 10px;
  font-size: 14px;
}
