/* Full background wrapper */
.home-bg {
  min-height: 100vh;
  /* background-color: #000000; */
  background-image: url("/Users/parthkhadkekar/Desktop/Projects/jobby-app/jobby-app/src/assets/background-image.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}

/* Content container */
.home-container {
  padding: 40px;
  max-width: 600px;
}

/* Heading */
.home-heading {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

/* Description */
.home-description {
  color: #cbd5e1;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
}

/* Button */
.find-jobs-btn {
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.find-jobs-btn:hover {
  background-color: #6366f1;
}
